node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.log
CLAUDE.md
.claude/
nul
TODO
dist
node_modules
.npmrc
docs/editor/data
.webpack/
gameData
*backup*
out/
dist/
*.asar
.DS_Store
Thumbs.db
.idea/
.vscode/
examples/*

